form {
  margin-top: 20px;
}

input {
  width: 70%;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(221, 220, 220);
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 90%;
  border: none;
  border-bottom: 1px solid rgb(221, 220, 220);
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: green;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  button {
    height: 35px;
  }
}
